.navbar-shopping-cart {
	position: relative;
	width: 25px;
	height: 25px;
}
.navbar-shopping-cart span {
	width: 16px;
	height: 16px;
	color: white;
	border-radius: 50%;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: -7px;
	right: -7px;
	display: flex;
	justify-content: center;
	align-items: center;
}