.title {
    font-size: 50px;
    font-weight: 600;
    background-image: conic-gradient(#4a0fed, #25120e, #131212);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}