.Item {
	padding: 0 50px 40px;
}

.Item .Item-title{
	padding-bottom: 20px;
	text-align: center;
	color: black;
}

.Item .Item-container{
	display: inline-block;
	padding-left: 10px;
	max-width: 20%;
	margin-bottom: 50px;
	box-shadow: 8px 15px 11px 3px rgba(17,181,181,0.75);
}

.Item-container img{
	width: 100%;
}

.Item-container:hover{
	max-width: 21%;
}

@media (max-width: 640px) {
	.Item-title {
		font-size: 12px;
	}
}