.Item {
	width: 240px;
}

.Item-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	color: whitesmoke;
	font-size: 0.9rem;
	text-align: center;
}


.Item-container img{
	width: 240px;
	height: 240px;
	border-radius: 20px;
	object-fit: cover;
	box-shadow: 10px 11px 11px 5px rgba(0,0,0,0.75);
}


@media (max-width: 640px) {
	.Item {
		width: 140px;
	}
	.Item-container img{
		width: 140px;
		height: 140px;
	}
}